{
margin-right: 0px;
padding-left: 40px;

}

h1{
font-family: sans-serif;
color: blue;
padding-top: 50px;
padding-right: 40px;
font-size: 20px;
padding-bottom: 3px;
padding-left: 40px;

}

h2{

font-family: sans-serif;
padding-top: 5px;
font-size: 40px;
padding-bottom: 3px;

}

#pic1{

width: 20px;
padding-right: 20px;
padding-bottom:2px;
padding-top: 20px;}

#pic2{

width: 20px;
padding-right: 20px;
padding-bottom:2px;
padding-top: 20px;}


#pic3{

width: 20px;
padding-right: 20px;
padding-bottom:2px;
padding-top: 20px;}


#pic4{

width: 20px;
padding-right: 20px;
padding-bottom:2px;
padding-top: 20px;}


#pic5{

width: 500px;
padding-left:540px;
padding-bottom:7px;
padding-top: 8px;
padding-right:4px;
margin-right: 4px;
margin-left: 5px;
margin-top: 10px; }










